libpcap inject or sendpacket function error "send: message too large" or "send: bad address"

Hi everybody.
I am using libpcap with Python 3 for a school projct.
I am trying to redirect the traffic in order to achieve a MITM attack after poisoning the ARP tables of a server and a client.
The problem is that the libpcap function sendpacket and inject give me the given errors for the given inputs:

```
ERROR -  sending a packet with sendPacketPcapGlobal.
ERROR - DEBUG - sendPacketPcapGlobal - str(''.join(pkt_data)).replace("0x","").replace(" ","") =  0242c0a878500242c0a878460800450801ac445140004006fb5bc0a87846c0a8783c8bcc9e786e6731e771b0bd2b801001fe737200000101080a6204a811ca8a402de54ee906b2ad20ab52f25d5b50a00b76f1b789e3e946a134cebd34fb470235022c56261d18dad73ede294a70a4dab1a8a6ada599cb93ee900b01a0f66bc68aa6954540c5669677f9786fef8d3c40f6117f13ca2e4eca706ca7ac2d60a5a548245ddb08b8f6b11ae97bdbf2e3c08114c2aa7c10abcbe704b06620027c3c56dae87948a6ab9e2620a4922865bab31237a8bdbd813c40f8ebcf4ecab245634324712d422862d7009000efe238e031552a9a71a099e2994522f96ea7f745877d35f6728ac411559838f4d6c41f87ce7bcf559d2d95b37d7bd6d1aef5a78c47ac091aeadbc0ec00ec4f7e612efd5a05ba23671359c1b92f29cb605664ce1d63a28dd6098ee58cdb19a9c3e0f3eb31c53463cddd778636f78ebadae6fa720b76c956f09d8441dbd3c6a734bbafc5380e8e9a27feb4b3ee6cca59963c3b29c74d4d414708a0afaa475dfe64ab7d850ebb4016b8f68e497bb365f9d2a52875270e83b680d9c5eaac5a4a81db899e1d1555343d4ac1ba5d8762547410
ERROR - DEBUG - sendPacketPcapGlobal - func_sizePacketDataInt =  442
ERROR - DEBUG - sendPacketPcapGlobal - resInt =  -1
ERROR - Error Description:  b'send: Bad address'
```


```
  ERROR -  sending a packet with sendPacketPcapGlobal.
  ERROR - DEBUG - sendPacketPcapGlobal - str(''.join(pkt_data)).replace("0x","").replace(" ","") =  0242c0a878500242c0a8784608004508febc448040004006fe1bc0a87846c0a8783c8bcc9e786e68335f71b0bd2b801801fe70830000010
IMAGINE MORE HEX VALUES HERE -  Because GITHUB SAYS: "Comment is too long (maximum is 65536 characters)"
  ERROR - DEBUG - sendPacketPcapGlobal - func_sizePacketDataInt =  65226
  ERROR - DEBUG - sendPacketPcapGlobal - resInt =  -1
  ERROR - Error Description:  b'send: Message too large'
```

I set the snap length to more than 65226 bytes before activating the pcap_t object. Some code that could be helpful is the function used to inject/send the packet, which is the following:
(Sorry for the bad formatting, I could not get it to work properly...)
"CODE START"
```
def sendPacketPcapGlobal(pkt_data):
	"""
	sendPacketPcapGlobal sends the data contained in the call variable pkt_data using some global variables, which should be set before calling this function.
	The global variables used by this function are:
		gl_ifName (str) --> Name of the interface which will be used in order to send the packet
		gl_ifNetworkMask (int) --> Network Mask of the interface which will be used in order to send the packet.
		
	"""
	global gl_ifNameStr, gl_ifNetworkMaskInt
	
	func_ifName = gl_ifNameStr
	func_ifNetworkMask = gl_ifNetworkMaskInt
	
	#Initialize a pcap_t struct
	#print("DEBUG - Starting myPcapLoop! \n dev = ", dev_Func, "\n idStr = ", idStr, "\n buf_Func = ", str(buf_Func))
	
	#1. Create a pcap_t 
	#pcap_t *pcap_create(const char *source, char *errbuf);
	func_dev = ctypes.c_char_p(func_ifName.encode(gl_pcap_encode))
	func_errBuff = ctypes.create_string_buffer(libpcap.PCAP_ERRBUF_SIZE)
	func_pcap_t = libpcap.create(func_dev, func_errBuff)
	
	if not func_pcap_t:
		print("ERROR - myPcapLoop could not create a pcap_t object for the device: ", dev_Func)
		return 1
	
	#1.2 Set SnapLength
	#func_pcap_snaplen = 65535
	func_pcap_snaplen = 65535*2
	pcap_snaplen = ctypes.c_int(func_pcap_snaplen)
	
	#int pcap_set_snaplen(pcap_t *p, int snaplen);
	intRes = libpcap.set_snaplen(func_pcap_t, pcap_snaplen)
	if intRes !=0:
		print("ERROR - Setting snaplen for capturing data")
		
	
	
	
	#2. Activate a pcap_t in order to be able to capture packets with it
	#int pcap_activate(pcap_t *p);
	activateInt = libpcap.activate(func_pcap_t)
	
	#Activate returns 0 for succes:
	if activateInt != 0:
		print("ERROR - Could NOT activate the pcap_t struct for the device = ", dev_Func)
		
		if activateInt == libpcap.PCAP_WARNING_PROMISC_NOTSUP:
			print("ERROR - PCAP_WARNING_PROMISC_NOTSUP - Promiscuous mode was requested, but the capture source doesn't support promiscuous mode. " )
		
		elif activateInt == libpcap.PCAP_WARNING_TSTAMP_TYPE_NOTSUP:
			print("ERROR - PCAP_WARNING_TSTAMP_TYPE_NOTSUP - The time stamp type specified in a previous pcap_set_tstamp_type(3PCAP) call isn't supported by the capture source (the time stamp type is left as the default),  ")
			
		elif activateInt == libpcap.PCAP_WARNING:
			print("ERROR - PCAP_WARNING - Another warnign occurred.")
			func_error =  libpcap.geterr(func_pcap_t)
			print("ERROR - ",str(func_error))
			
		elif activateInt == libpcap.PCAP_ERROR_ACTIVATED:
			print("ERROR - PCAP_ERROR_ACTIVATED - The handle has already been activated." )
			
		elif activateInt == libpcap.PCAP_ERROR_NO_SUCH_DEVICE:
			print("ERROR - PCAP_ERROR_NO_SUCH_DEVICE - The capture source specified when the handle was created doesn't exist. ")
			
		elif activateInt == libpcap.PCAP_ERROR_PERM_DENIED:
			print("ERROR - PCAP_ERROR_PERM_DENIED - The process doesn't have permission to open the capture source. ")
			
		elif activateInt == libpcap.PCAP_ERROR_PROMISC_PERM_DENIED:
			print("ERROR - PCAP_ERROR_PROMISC_PERM_DENIED - The process has permission to open the capture source but doesn't have permission to put it into promiscuous mode. " )
			
		elif activateInt == libpcap.PCAP_ERROR_RFMON_NOTSUP:
			print("ERROR - PCAP_ERROR_RFMON_NOTSUP - Monitor mode was specified but the capture source doesn't support monitor mode. " )
			
		elif activateInt == libpcap.PCAP_ERROR_IFACE_NOT_UP:
			print("ERROR - PCAP_ERROR_IFACE_NOT_UP - The capture source device is not up. ")
			
		elif activateInt == libpcap.PCAP_ERROR:
			print("ERROR - PCAP_ERROR - Another error occurred:")
			func_error =  libpcap.geterr(func_pcap_t)
			print("ERROR - ",str(func_error))
			
		else:
			print("ERROR - Unknow error for libpcap.activate() function")
	

	
	
	
	#Fix the pkt_data if needed
	func_pkt_data = str(''.join(pkt_data)).replace("0x","").replace(" ","")
	#print("DEBUG - func_pkt_data = ", func_pkt_data)
	func_sizePacketDataInt = math.ceil(len(func_pkt_data)/2)
	
	
	#Store the packet data in a suitable variable to use the library libpcap
	#Commented HERE - Possible error
	#buf_pcap = (ctypes.c_ubyte*(func_sizePacketDataInt))(*bytes.fromhex(func_pkt_data.replace("0x","")))
	
	#Pointer to packet data:
	func_packetPointer = ctypes.cast(func_pkt_data, ctypes.POINTER(ctypes.c_ubyte))
	
	
	#packetDataHex =  
	#0242c0a878500242c0a8783c080045000083934740004006355ac0a8783cc0a87846d12200153e89599d41abd7ea801801f5724900000101080a89b2ac700d7890534d44544d2067616c6178792d6e61747572652d6165737468657469632d6261636b67726f756e642d7374617272792d736b792d6d6f756e7461696e2d72656d697865642d6d656469612e6a70670d0a
	
	#0242c0a878500242c0a8784608004500006f7b044000400633a0fc0a87846c0a8783c0015930c14a79c94ddfd0cec801801fe723500000101080a0d7c552e89b671473232302057656c636f6d6520746f206d792046545020736572766963652e204e6f7420796f75727321204d792074726561737572652e2e2e2e0d0a

	
	#0242c0a878500242c0a87846080045000069f959400040063b85ec0a87846c0a8783c0015d12241abd7fe3e8959f2801801fe722f00000101080a0d78905489b2ac7032323720456e746572696e672050617373697665204d6f646520283139322c3136382c3132302c37302c3131322c313136292e0d0a
	
	#Send the packet:
	#OLD - Because of too large messages
	#resInt = libpcap.sendpacket(func_pcap_t, func_packetPointer, int(func_sizePacketDataInt))
	#NEW - With inject function to try to avoid bug
	resInt = libpcap.inject(func_pcap_t, func_packetPointer, int(func_sizePacketDataInt))
	
	#Error checking for libpcap.inject function
	if resInt != int(func_sizePacketDataInt):
		print("ERROR -  sending a packet with sendPacketPcapGlobal.")
		print("""ERROR - DEBUG - sendPacketPcapGlobal - str(''.join(pkt_data)).replace("0x","").replace(" ","") = """, str(''.join(pkt_data)).replace("0x","").replace(" ",""))
		print("ERROR - DEBUG - sendPacketPcapGlobal - func_sizePacketDataInt = ", func_sizePacketDataInt)
		print("ERROR - DEBUG - sendPacketPcapGlobal - resInt = ", resInt)
		
		if resInt ==  libpcap.PCAP_ERROR_NOT_ACTIVATED:
			print("ERROR - pcap_t not activated")
			
		elif resInt == libpcap.PCAP_ERROR:
			#char *pcap_geterr(pcap_t *p);
			errorBuff = libpcap.geterr(func_pcap_t)
			print("ERROR - Error Description: ", errorBuff)
		else:
			print("ERROR - UNKNOWN - resInt = ", resInt)

	else:
		#print("SUCCESS!!! - Packet send using the function sendPacketPcapGlobal !!!")
		pass
	
	"""
	#OLD - Because of too large messages
	#resInt = libpcap.sendpacket(func_pcap_t, func_packetPointer, int(func_sizePacketDataInt))
	#Error checking for sendpacket function
	if resInt != 0:
		print("ERROR -  sending a packet with sendPacketPcapGlobal.")
		print("ERROR - DEBUG - sendPacketPcapGlobal - str(''.join(pkt_data)).replace("0x","").replace(" ","") = ", str(''.join(pkt_data)).replace("0x","").replace(" ",""))
		print("ERROR - DEBUG - sendPacketPcapGlobal - func_sizePacketDataInt = ", func_sizePacketDataInt)
		
		if resInt ==  libpcap.PCAP_ERROR_NOT_ACTIVATED:
			print("ERROR - pcap_t not activated")
			
		elif resInt == libpcap.PCAP_ERROR:
			#char *pcap_geterr(pcap_t *p);
			errorBuff = libpcap.geterr(func_pcap_t)
			print("ERROR - Error Description: ", errorBuff)
		else:
			print("ERROR - UNKNOWN")
	
	"""
	return 0
```
"CODE END"

EDIT: I forgot some possibly important info about the system:

/home # pip list
Package             Version
appdirs             1.4.4
contextlib2         21.6.0
importlib-metadata  6.8.0
importlib-resources 6.1.0
libpcap             1.11.0b7
more-itertools      8.13.0
numpy               1.26.1
ordered-set         4.0.2
packaging           21.3
pep517              0.12.0
pip                 22.1.1
pkg-about           1.0.8
pyparsing           2.4.7
retrying            1.3.3
setuptools          68.2.2
six                 1.16.0
tomli               2.0.1
zipp                3.17.0
/home # pip install libpcap
Requirement already satisfied: libpcap in /usr/lib/python3.10/site-packages (1.11.0b7)
Requirement already satisfied: setuptools>=63.2.0 in /usr/lib/python3.10/site-packages (from libpcap) (68.2.2)
Requirement already satisfied: pkg-about>=1.0.7 in /usr/lib/python3.10/site-packages (from libpcap) (1.0.8)
Requirement already satisfied: importlib-resources>=5.7.1 in /usr/lib/python3.10/site-packages (from pkg-about>=1.0.7->libpcap) (6.1.0)
Requirement already satisfied: packaging>=21.3.0 in /usr/lib/python3.10/site-packages (from pkg-about>=1.0.7->libpcap) (21.3)
Requirement already satisfied: tomli>=2.0.1 in /usr/lib/python3.10/site-packages (from pkg-about>=1.0.7->libpcap) (2.0.1)
Requirement already satisfied: importlib-metadata>=4.12.0 in /usr/lib/python3.10/site-packages (from pkg-about>=1.0.7->libpcap) (6.8.0)
Requirement already satisfied: zipp>=0.5 in /usr/lib/python3.10/site-packages (from importlib-metadata>=4.12.0->pkg-about>=1.0.7->libpcap) (3.17.0)


I was wondering how to avoid both problems, or if it was a bug of the library libpcap in C or in Python. Any help would be really welcome. Thank you for your time.

> (Sorry for the bad formatting, I could not get it to work properly...)

Three backquotes on a line by itself starts a block of text to be displayed "as is" in a fixed-width font; three backquotes on a line by itself ends the block.

> OLD - Because of too large messages

Note that what `pcap_inject()` and `pcap_sendpacket()` inject is a *link-layer* packet, so, for example, on Ethernet, you can't send more than a singe Ethernet frame's worth of data.

> I set the snap length to more than 65226 bytes before activating the pcap_t object.

That will not help.  All that does is set the size to which *received* packets will be truncated before they're given to your program.  It does not, for example, magically make an Ethernet adapter handle *sending* packets larger than the maximum for Ethernet.

> #NEW - With inject function to try to avoid bug

That will not help.  The only reason why there are wo separate functions is that we want to provide compatibility with both OpenBSD, which added `pcap_inject()`, and WinPcap, which added `pcap_sendpacket()`.  The only difference between the two functions is that `pcap_sendpacket()` returns 0 on success and -1 on failure, and `pcap_inject()` returns the number of bytes transmitted on success and -1 on failure.

> `if resInt != int(func_sizePacketDataInt):`

The correct check for an *error*, *either* from `pcap_inject()` or `pcap_sendpacket()`, is to test whether the return value is -1. 

For `pcap_inject()`, if the return value isn't -1 and isn't the packet size, this means that, for some reason, the full packet wasn't transmitted.  This is unlikely to happen.

For `pcap_sendpacket()`, the return will *never* be the packet size; it will either be 0 or -1.

Note that if the packet data is in the form of a text string of hex digits, that cannot be directly passed to `pcap_inject()` or `pcap_sendpacket()`; you will need to convert that to a type such as `bytes` or `bytearray`, for example with `bytes.fromhex`.

> `func_packetPointer = ctypes.cast(func_pkt_data, ctypes.POINTER(ctypes.c_ubyte))`

Are you certain that this is the right way to get a pointer to the *contents* of `func_pkt_data`?  If it isn't, that might be the source of the "Bad address" error.  [The description of `ctypes.byref`](https://docs.python.org/3/library/ctypes.html#ctypes.byref) suggests that it might be what you'd want to use.

> > (Sorry for the bad formatting, I could not get it to work properly...)
> 
> Three backquotes on a line by itself starts a block of text to be displayed "as is" in a fixed-width font; three backquotes on a line by itself ends the block.

Yeah! Thank you! It will make my life much easier.
```
Tryining block - Looks amazing!
```


> > OLD - Because of too large messages
> 
> Note that what `pcap_inject()` and `pcap_sendpacket()` inject is a _link-layer_ packet, so, for example, on Ethernet, you can't send more than a singe Ethernet frame's worth of data.
> 
> That's why you're getting "Message too large".
> 
> To avoid that problem, in a single call to `pcap_inject()` or `pcap_sendpacket()`, don't send anything that won't fit in a single link-layer packet. If you need to send more, send it in multiple link-layer packets, using whatever network-layer or transport-layer protocol is appropriate.

It looks like the messages which are too long are 65226 bytes long.
Looking at the maximum transmission unit in Wikipedia from this source:
https://en.wikipedia.org/wiki/Maximum_transmission_unit
It says that ipv4 packet is allowed to be 64 kiB long, which by brave search has an equivalence of 65536 bytes. Therefore this package should be allowed? (A 65226 bytes package long.)

In fact I am just trying to resend a received package generated by an ftp server. I just modify the source and target MAC address from the Ethernet header as well as the TCP Checksum. Therefore I should be able to resend them if I am not adding any byte more to the packet, as the packet will be as maximum the maximum transmission unit.





> > I set the snap length to more than 65226 bytes before activating the pcap_t object.
> 
> That will not help. All that does is set the size to which _received_ packets will be truncated before they're given to your program. It does not, for example, magically make an Ethernet adapter handle _sending_ packets larger than the maximum for Ethernet.

Yeah... I thought it will not make any difference. But I could not find the error and I tried that in case I was lucky... 




> > #NEW - With inject function to try to avoid bug
> 
> That will not help. The only reason why there are wo separate functions is that we want to provide compatibility with both OpenBSD, which added `pcap_inject()`, and WinPcap, which added `pcap_sendpacket()`. The only difference between the two functions is that `pcap_sendpacket()` returns 0 on success and -1 on failure, and `pcap_inject()` returns the number of bytes transmitted on success and -1 on failure.

The same, just trying to apply the other function in case it was a bug of the other...



> > `if resInt != int(func_sizePacketDataInt):`
> 
> The correct check for an _error_, _either_ from `pcap_inject()` or `pcap_sendpacket()`, is to test whether the return value is -1.
> 
> For `pcap_inject()`, if the return value isn't -1 and isn't the packet size, this means that, for some reason, the full packet wasn't transmitted. This is unlikely to happen.
> 
> For `pcap_sendpacket()`, the return will _never_ be the packet size; it will either be 0 or -1.

Yup. I have a commented error checking for the function send_packet. I checked whether the return value was different of the input length in order to check for the case you comment. That the total packet was not sent but part of it was. Unlikely but I wanted to be sure whether something was sent or not. First time using libpcap library and I am playing a little bit around. 



> > `func_packetPointer = ctypes.cast(func_pkt_data, ctypes.POINTER(ctypes.c_ubyte))`
> 
> Are you certain that this is the right way to get a pointer to the _contents_ of `func_pkt_data`? If it isn't, that might be the source of the "Bad address" error. [The description of `ctypes.byref`](https://docs.python.org/3/library/ctypes.html#ctypes.byref) suggests that it might be what you'd want to use.

This way to convert the packet into a c_ubyte pointer seems to work properly with other packets. As example I set some short text files in the ftp server which I am able to download once the arp spoofing attack is achieved. Therefore the function works properly for short packages. 

I tried to find in the libpcap source code where this message comes from... sadly all versions I downloaded where missing this message...

The result of the following command in linux is:
```
grep -Rnw ./ -e 'Bad'
```

```
./libpcap-1.9.1/pcap-dlpi.c:1275:		return ("Bad LSAP selector");
./libpcap-1.9.1/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.9.1/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.9.1/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.9.1/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.9.1/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.10.2/pcap-dlpi.c:1305:		return ("Bad LSAP selector");
./libpcap-1.10.2/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.10.2/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.10.2/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.10.2/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.10.2/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.7.4/pcap-dlpi.c:1149:		return ("Bad LSAP selector");
./libpcap-1.7.4/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.7.4/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.7.4/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.7.4/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.7.4/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.4.0/pcap-dlpi.c:1100:		return ("Bad LSAP selector");
./libpcap-1.4.0/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.4.0/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.4.0/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.4.0/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.4.0/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.7.3/pcap-dlpi.c:1149:		return ("Bad LSAP selector");
./libpcap-1.7.3/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.7.3/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.7.3/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.7.3/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.7.3/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.6.2/pcap-dlpi.c:1149:		return ("Bad LSAP selector");
./libpcap-1.6.2/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.6.2/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.6.2/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.6.2/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.6.2/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.9.0/pcap-dlpi.c:1275:		return ("Bad LSAP selector");
./libpcap-1.9.0/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.9.0/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.9.0/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.9.0/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.9.0/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.8.1/pcap-dlpi.c:1223:		return ("Bad LSAP selector");
./libpcap-1.8.1/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.8.1/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.8.1/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.8.1/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.8.1/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.7.2/pcap-dlpi.c:1149:		return ("Bad LSAP selector");
./libpcap-1.7.2/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.7.2/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.7.2/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.7.2/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.7.2/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";
./libpcap-1.10.0/pcap-dlpi.c:1269:		return ("Bad LSAP selector");
./libpcap-1.10.0/msdos/pktdrvr.c:224:                    "Bad packet type specified",
./libpcap-1.10.0/msdos/pktdrvr.c:235:                    "Bad Check-sum",
./libpcap-1.10.0/msdos/pktdrvr.c:236:                    "Bad size",
./libpcap-1.10.0/msdos/pktdrvr.c:237:                    "Bad sync" ,
./libpcap-1.10.0/msdos/pktdrvr.c:501:    pktInfo.error = "Bad sync";

```

 No "Bad address" anywhere...

I tried with the source code of the python library contained in the following link:
https://github.com/karpierz/libpcap

Same command with the result:

```
grep: ./src/libpcap/_platform/_windows/x64/wpcap/wpcap.dll: binary file matches
grep: ./src/libpcap/_platform/_windows/x86/wpcap/wpcap.dll: binary file matches
```

And:

```
grep -Rnw ./ -e 'Bad address'
grep: ./src/libpcap/_platform/_windows/x64/wpcap/wpcap.dll: binary file matches
grep: ./src/libpcap/_platform/_windows/x86/wpcap/wpcap.dll: binary file matches

```
I think/belive the bad address problem is a bug from the libpcap version used for the libpcap python library. I have already asked in the github page but no reply for the moment. I will research more about the topic and let you know.

Thank you a lot for your time and effort!! :D





Some other (possibly) relevant information:

```
apk list libpcap
libpcap-1.10.1-r0 x86_64 {libpcap} (BSD-3-Clause) [installed]
/home # pip list libpcap
Package             Version
------------------- --------
appdirs             1.4.4
contextlib2         21.6.0
importlib-metadata  6.8.0
importlib-resources 6.1.0
libpcap             1.11.0b7
more-itertools      8.13.0
numpy               1.26.1
ordered-set         4.0.2
packaging           21.3
pep517              0.12.0
pip                 22.1.1
pkg-about           1.0.8
pyparsing           2.4.7
retrying            1.3.3
setuptools          68.2.2
six                 1.16.0
tomli               2.0.1
zipp                3.17.0
```

> It says that ipv4 packet is allowed to be 64 kiB long, which by brave search has an equivalence of 65536 bytes.

[RFC 791 section 3.1 "Internet Header Format"](https://datatracker.ietf.org/doc/html/rfc791#section-3.1) says:
 Therefore this package should be allowed? (A 65226 bytes package long.)

```
Total Length:  16 bits

    Total Length is the length of the datagram, measured in octets,
    including internet header and data.  This field allows the length of
    a datagram to be up to 65,535 octets.  Such long datagrams are
    impractical for most hosts and networks.  All hosts must be prepared
    to accept datagrams of up to 576 octets (whether they arrive whole
    or in fragments).  It is recommended that hosts only send datagrams
    larger than 576 octets if they have assurance that the destination
    is prepared to accept the larger datagrams.

    The number 576 is selected to allow a reasonable sized data block to
    be transmitted in addition to the required header information.  For
    example, this size allows a data block of 512 octets plus 64 header
    octets to fit in a datagram.  The maximal internet header is 60
    octets, and a typical internet header is 20 octets, allowing a
    margin for headers of higher level protocols.
```

> Therefore this package should be allowed?

No.

The send operations in libpcap are *link-layer* send operations, not *network-layer* send operations, so the maximum size of an IPv4 packet is irrelevant; the maximum packet size on the *particular link layer* is what's relevant.

If you were to try to transmit a 65226-byte IPv4 datagram on a raw IPv4 socket, *that* would be a network-layer send.  It would be handed to the IPv4 send operation in the networking stack, which would determine which network interface it should be sent on (to get to the next host on the way to the ultimate host), and, if it's too big to be sent on that link layer, fragment it into multiple IPv4 fragments and send them on that interface.

But that's not what you're doing.  Unless the network adapter would do the fragmentation itself, no fragmentation would be done, meaning that, for example, you couldn't send that packet on an Ethernet, where the maximum packet size, including the CRC, is 1518 bytes, which is much less than 65226.

> I tried to find in the libpcap source code where this message comes from

You won't find it if you search for "Bad", as both the text "Bad address" and the text "Message too large" come from `strerror()`, not from any routine in libpcap.

The routine that generates the error message would either be `pcap_fmt_errmsg_for_errno()`, if you're doing this on a UN\*X (Linux, \*BSD, macOS, Solaris, AIX, etc.) or `pcap_fmt_errmsg_for_win32_err()`, if you're doing this on Windows with Npcap.  (If it's WinPcap, it would be formatted somewhere else.)

However, *that* routine merely constructs the error message; it doesn't detect the error.

Where the error is detected depends on what operating system you're doing this on.  If it's Linux, the routine would be `pcap_inject_linux()` in pcap-linux.c, and the relevant code would be

```
	ret = (int)send(handle->fd, buf, size, 0);
	if (ret == -1) {
		pcap_fmt_errmsg_for_errno(handle->errbuf, PCAP_ERRBUF_SIZE,
		    errno, "send");
		return (-1);
	}
```

`send()` is a system call on UN\*Xes; if it returns -1, that means an error occurred.

If it's macOS, \*BSD, or Solaris 11, the routine would be `pcap_inject_bpf()` in pcap-bpf.c, and the relevant code would be

```
	ret = (int)write(p->fd, buf, size);
#ifdef __APPLE__
(some code to work around a macOS bug that isn't relevant here)
#endif /* __APPLE__ */
	if (ret == -1) {
		pcap_fmt_errmsg_for_errno(p->errbuf, PCAP_ERRBUF_SIZE,
		    errno, "send");
		return (PCAP_ERROR);
	}
```

`write()` is a system call on UN\*Xes; if it returns -1, that means an error occurred.

If it's Windows with Npcap, the routine would be `pcap_inject_npf()` in pcap-npf.c, and the relevant code would be

```
	if(PacketSendPacket(pw->adapter,&pkt,TRUE) == FALSE) {
		pcap_fmt_errmsg_for_win32_err(p->errbuf, PCAP_ERRBUF_SIZE,
		    GetLastError(), "send error: PacketSendPacket failed");
		return (-1);
	}
```

`PacketSendPacket()` is a routine in a library that's part of Npcap; that library is separate from the wpcap library.  If it returns `FALSE`, that means an error occurred.

> I have already asked in the github page but no reply for the moment.

That's karpierz/libpcap#14.





> The send operations in libpcap are _link-layer_ send operations, not _network-layer_ send operations, so the maximum size of an IPv4 packet is irrelevant; the maximum packet size on the _particular link layer_ is what's relevant.

Thanks god! You rocked it with this explanation! I was wrong while using this function. I thought it was a network layer send operation because I was not really familiar with the differences between both.
Thanks a lot for the explanation! I will try to use another python library in order to send raw data packages through the network layer. Sockets library seems the one after a short research.



> You won't find it if you search for "Bad", as both the text "Bad address" and the text "Message too large" come from `strerror()`, not from any routine in libpcap.

Thanks again! I will try to link the error after I finish with this project. Just because of curiosity.

Just thank you again for your explanation, your time and effort. I hope you have a nice day! :D




> I will try to link the error after I finish with this project.

On UN\*Xes, it comes from `strerror()`, which is a standard system library routine.

>  I hope you have a nice day!

Thank you, and you have a nice day, too!

(I guess at least partially reverse-engineering ERSPAN Type III frame type 7 packets makes it a not-too-bad day.  Maybe somebody else can figure out what the 8 bytes before the encapsulated Ethernet frame are.)