ARP and RARP matching hard-codes HL to 6

In `gen_host()` the following two cases assume that the hardware address length is 6 bytes, which usually, but not always is the case:
```c
	case Q_RARP:
		b0 = gen_linktype(cstate, ETHERTYPE_REVARP);
		// Same as for Q_IP above.
		if (mask == 0 && addr == 0)
			return b0;
		b1 = gen_hostop(cstate, addr, mask, dir, 14, 24);
		gen_and(b0, b1);
		return b1;

	case Q_ARP:
		b0 = gen_linktype(cstate, ETHERTYPE_ARP);
		// Same as for Q_IP above.
		if (mask == 0 && addr == 0)
			return b0;
		b1 = gen_hostop(cstate, addr, mask, dir, 14, 24);
		gen_and(b0, b1);
		return b1;
```
An easy way to generate an incorrect filter program is as follows:
```
$ ./testprogs/filtertest ARCNET_LINUX 'arp host 1.2.3.4'
(000) ldb      [4]
(001) jeq      #0xd5            jt 3	jf 2
(002) jeq      #0xf1            jt 3	jf 8
(003) ld       [22]
(004) jeq      #0x1020304       jt 7	jf 5
(005) ld       [32]
(006) jeq      #0x1020304       jt 7	jf 8
(007) ret      #262144
(008) ret      #0
```
Here the offset 22 (ARP SPA, `arp src host`) comprises RFC 1201 header (8 bytes), the fixed-size part of the ARP header (8 bytes) and ARP SHA (6 bytes); the offset 32 (ARP TPA, `arp dst host`) adds ARP SPA (4 bytes) and ARP THA (6 bytes). However, for ARCnet ARP HL actually equals 1 rather than 6, so for RFC 1201 encoding correct offsets would be:
* 8 + 8 + 1 = 17 for ARP SPA
* 8 + 8 + 1 + 4 + 1 = 22 for ARP TPA

Note how the expected offset of ARP TPA and the actual offset of ARP SPA by coincidence both happen to be equal to 22, which makes the bug more difficult to notice even if using the recently produced ARCnet packet captures from tcpdump tests:
```
$ ./tcpdump -vn -r tests/arcnet-rfc1201-arp-icmp-http.pcap 'arp src host 10.80.131.1'
reading from file tests/arcnet-rfc1201-arp-icmp-http.pcap, link-type ARCNET_LINUX (Linux ARCNET), snapshot length 65535
14:20:23.012419 ARP, ArcNet (len 1), IPv4 (len 4), Reply 10.80.131.254 is-at 50, length 18
14:20:28.012714 ARP, ArcNet (len 1), IPv4 (len 4), Request who-has 10.80.131.1 tell 10.80.131.254, length 18
```
Here in the packets that matched the filter 10.80.131.1 is the destination rather than the source ARP host, and trying to match the destination matches no packets:
```
$ ./tcpdump -vn -r tests/arcnet-rfc1201-arp-icmp-http.pcap 'arp dst host 10.80.131.1'
reading from file tests/arcnet-rfc1201-arp-icmp-http.pcap, link-type ARCNET_LINUX (Linux ARCNET), snapshot length 65535
```
As far as I understand, currently ARCnet (ARP HL = 1) is the only case immediately affected by this hard-coding. However, it would need to be made right if libpcap was to support RFC 4338 IPFC (ARP HL = 12), currently it supports RFC 2625 IPFC (ARP HL = 6). This problem also blocks correct support of RFC 4391 IPoIB filtering (ARP HL == 20). There could be some newer non-MAC-48 ARP-capable network technologies as well.